@model MVCAssignment.Models.User

@{
    ViewBag.Title = "homepage";
}

<h2>homepage</h2>

<div>

    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.loginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullName)
        </dd>

      

    </dl>

</div>
<p>
    @Html.ActionLink("update details", "Edit", new { id = Model.loginName }) |
   
    @Html.ActionLink("LogOut", "Logout")
</p>
